/*Image*/
.responsive {
  width: 100%;
  height: auto;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5px;
}
/*Image*/

/*Bintang and text*/
.checked {
  color: orange;
}
.justify {
  text-align: justify;
  text-justify: inter-word;
}
/*Bintang*/

/*Jumbotron*/
.jumbotron{
	background-color: #d2f1e4;
}
.jumbotron p{
	font-size: 18px;
	font-family: serif;
}
@media only screen and (max-width: 600px){
	.jumbotron p{
		font-size: 15px;
	}
	.section-content p{
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  width: 50%;
	}
}
/*Jumbotron*/

/*Barier*/
.barier p{
	font-size: 18px;
	font-family: sans-serif;
}
/*Barier*/

/*Content*/
.section-content img{
	width: 150px;
}
.section-content p{
	margin-top: 5px;
	font-size: 13px;
	text-align: center;
  text-justify: inter-word;
}
/*Content*/

/*Footer*/
.footer{
	background-color:#00509d;
	border-radius:15px;
}
.footer p{
	margin-left: 20px;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: white;
	font-family: sans-serif;
}
/*Footer*/
/*---------------------------------------------------------------Customer--------------------------------------------------------------------*/
.profile{
	width: 250px;
	height: auto;
	border-radius: 25px;
	background-color: lightgray;
}
.profile p{
	font-size: 18px;
	font-family: cursive;
}
@media only screen and (max-width: 600px){
		.profile img{
		width: 200px;
	}

	.order-list img{
		width: 150px;
		margin-bottom:5px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.order-list p{
		text-align: center;
	}
	.order-list button{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.order-list img{
	width: 150px;
	padding-top:25px;
}
.order-list{
	padding: 5px;
	border-radius: 25px;
}
.order-list p{
	font-family: sans-serif;
}
/*---------------------------------------------------------------Customer--------------------------------------------------------------------*/
/*---------------------------------------------------------------Designer--------------------------------------------------------------------*/